.row {
    display: flex;
    background-color: lightgray;
    padding: 5px;
}

.col, .col-2, .col-3 {
    flex: 1;
    padding: 15px;
    margin: 15px;
    background-color: #5f9fa0;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}
